<a href="https://join-lemmy.org" target="_blank">Lemmy</a> does not have an
<a href="https://github.com/LemmyNet/lemmy/issues/1368" target="_blank">
  OpenID/OAuth at this time </a
>, so this is used as a temporary solution <br /><br />
Used by <a href="https://canvas.toast.ooo">Lemmy Canvas</a> <br /><br />
If your app needs to verify someone's username using OpenID Connect, click the
contact link below
